.popup__input {
    width: 100%;
    min-height: 26px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
}

.popup__input:nth-child(2n) {
    margin-bottom: 0;
}

