
.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.popup__open{
    display: flex;
}
.popup__close{
    width: 282px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
@media (min-width: 1080px) {
    .popup__close {
        width: 510px;
    }
}
.popup__button_close {
    /* position: absolute;
    top: 20px; */
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
}
@media (min-width: 1280px) {
    .popup__close {
        margin: 0;
    }
}

.pupup__content {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 282px;
    margin: 0 auto;
}
@media (min-width: 1080px) {
    .pupup__content {
        width: 430px;
        
    }
}

.pupup__content_header {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0 75px;
}

.popup__form {
    margin: 0 auto;
    width: 238px;
}
@media (min-width: 1080px) {
    .popup__form {
        width: 358px;
    }
}

/* .popup__input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */

.popup__input {
    width: 100%;
    padding: 0 0 13px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.popup__input:last-child{
    margin-bottom: 0;
}

.popup__button {
    margin-bottom: 25px;
    margin-top: 45px;
    padding: 13px 0;
    width: 100%;
    border-radius: 2px;
    border: none;
    background-color: black;
}
.popup__button:hover {
    opacity: 0.8;
}
