.group__like {
    background-color: transparent;
    border: none;
    width: 22px;
    height: 19px;
    padding-right: 5px;
    margin-right: 12px;
}

.group__like:hover {
    opacity: 0.5;
}

.group__like_active {
    opacity: 1;
    background-image: url(../../../image/likeActive.svg);

}